h1 Kitchens
.row
  ol.breadcrumb
    li: a(href="") Home
    li.active Kitchen
.row
  h3 Please choose a sub-area:
.row
  ul.nav.nav-pills
      li
        a(href='#/floor') floor
      li
        a(href='#/backsplash') wall / backsplash
        
// TODO show examples of ALL kitchen group pictures
div(ng-controller='CarouselDemoCtrl')
  div(style='height: 305px;')
    carousel(interval='myInterval')
      slide(ng-repeat='slide in slides', active='slide.active')
        img(ng-src='{{slide.image}}', style='margin: auto;')
        .carousel-caption
          h4 Slide {{$index}}
          p {{slide.text}}
  
